body {
    background: #03465a;
}

.col-6 {
    margin: 0 auto;
    width: 450px;
    padding: 20px;
    background: #ffffff;
    text-align: center;
    border: 1px solid #0a0805;
    color: rgb(8, 1, 1);
}

.form-control:hover {
    border: 3px solid #03465a;
}

hr.style-two {
    border: 0;
    height: 0;
    width: 400px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.btn-success {
    width: 90%;
    padding: 5px;
}

.msg {
    padding: 5px;
    background-color: red;
    color: white;
}